*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 50px;
    font: 16px/1.5 "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
    color: #333;
    background: #fefefe;
}

input,
textarea,
button {
    font: inherit;
}
