<h1 ng-if="kpn.isDataError">{{ kpn.errorMsg }}</h1>

<section ng-if="!kpn.isDataError">
	<header>{{ ::kpn.product.name }}</header>
	<ul class="subs-table">
		<li class="subs-table__row">
			<span class="subs-table__cell">Name</span>
			<span class="subs-table__cell">Minutes/sms</span>
			<span class="subs-table__cell">Internet</span>
			<span class="subs-table__cell">Device price</span>
			<span class="subs-table__cell">Costs/month</span>
		</li>
		<li ng-repeat="subs in ::kpn.product.subscriptions">
			<label class="subs-table__row" for="subs-radio-{{ $index }}">
				<span class="subs-table__cell">
					<input id="subs-radio-{{ $index }}" type="radio" name="subs">
					{{ ::subs.name }}
				</span>
				<span class="subs-table__cell">{{ ::subs.volume }}</span>
				<span class="subs-table__cell">{{ ::subs.data | dataFormatter }}</span>
				<span class="subs-table__cell">
					{{ ::subs.calc.deviceDiscPrice | priceFormatter }}
				</span>
				<span class="subs-table__cell">
					<span class="subs-table__cell__subs-orig-price">
						{{ ::subs.subsPrice | priceFormatter }}
					</span>
					<span class="subs-table__cell__subs-discount-price">
						{{ ::subs.calc.subsDiscPrice | priceFormatter }}
					</span>
				</span>
			</label>
		</li>
	</ul>
</section>
