<h1 ng-if="kpn.isDataError">{{ kpn.errorMsg }}</h1>

<section class="product" ng-if="!kpn.isDataError">
	<div class="product__left-container">
		<header class="product__header">{{ ::kpn.product.name }}</header>
		<ul class="subs-table product__table">
			<li class="subs-table__caption">Select subscription</li>
			<li class="subs-table__row subs-table__row--header">
				<span class="subs-table__cell subs-table__cell--header">Name</span>
				<span class="subs-table__cell subs-table__cell--header">Minutes/sms</span>
				<span class="subs-table__cell subs-table__cell--header">Internet</span>
				<span class="subs-table__cell subs-table__cell--header">Device price</span>
				<span class="subs-table__cell subs-table__cell--header">Costs/month</span>
			</li>
			<li ng-repeat="subs in ::kpn.product.subscriptions">
				<label
						class="subs-table__row"
						ng-class="{'subs-table__row--selected': kpn.selected == subs}"
						for="subs-radio-{{ $index }}">
					<span class="subs-table__cell subs-table__cell--strong subs-table__cell--split">
						<input
								id="subs-radio-{{ $index }}"
								name="subs"
								ng-checked="$first"
								ng-model="kpn.selected"
								ng-value="subs"
								type="radio">
						{{ ::subs.name }}
					</span>
					<span class="subs-table__cell">{{ ::subs.volume }}</span>
					<span class="subs-table__cell">{{ ::subs.data | dataFormatter }}</span>
					<span class="subs-table__cell subs-table__cell--strong">
						{{ ::subs.calc.deviceDiscPrice | priceFormatter }}
					</span>
					<span class="subs-table__cell">
						<del>
							{{ ::subs.subsPrice | priceFormatter }}
						</del>
						<ins class="subs-table__cell__subs-discount-price">
							{{ ::subs.calc.subsDiscPrice | priceFormatter }}
						</ins>
					</span>
				</label>
			</li>
		</ul>
	</div>

	<section class="product__sidebar cart">
		<div class="cart__device">
			<img
				alt="{{ ::kpn.product.name }}"
				class="cart__device__large"
				height="390"
				ng-src="{{ ::kpn.product.images[0].large }}"
				width="200" />
			<div class="cart__device__sidebar">
				<figure class="cart__device__thumb" ng-repeat="src in ::kpn.product.images">
					<img
						alt="{{ ::kpn.product.name }}"
						class="cart__device__thumb__img"
						ng-src="{{ ::src.thumb }}" />
				</figure>
				<div class="cart__device__price">
					<div class="cart__device__price__txt">Phone</div>
					<div class="cart__device__price__num">
						{{ kpn.selected.calc.deviceDiscPrice }},-
					</div>
				</div>
			</div>
		</div>

		<div class="cart__final cart__table">
			<div class="cart__table__txt cart__table__strong">Total per month:</div>
			<div class="cart__table__price cart__table__strong">
				{{ kpn.selected.calc.subsDiscPrice | priceFormatter }}
			</div>
			<div class="cart__table__txt">Total one-off:</div>
			<div class="cart__table__price cart__table__strong">
				{{ kpn.selected.calc.deviceDiscPrice | priceFormatter }}
			</div>
			<button class="cart__final__btn cart__table__single-row">Bestellen</button>
		</div>

		<div class="cart__details cart__table">
			<header class="cart__details__header cart__table__single-row">Monthly costs</header>
			<div class="cart__table__txt cart__table__strong">{{ kpn.selected.name }}</div>
			<div class="cart__table__price cart__table__strong">
				{{ kpn.selected.subsPrice | priceFormatter }}
			</div>
			<div class="cart__table__txt">
				Discount as long as your subscription runs
			</div>
			<div class="cart__table__price cart__table__strong cart__table__highlight">
				-{{ kpn.selected.subsDiscount | priceFormatter }}
			</div>

			<header class="cart__details__header cart__table__single-row">One-off</header>
			<div class="cart__table__txt cart__table__strong">
				{{ kpn.product.name }}
			</div>
			<div class="cart__table__price cart__table__strong cart__table__highlight">
				{{ kpn.selected.calc.deviceDiscPrice | priceFormatter }}
			</div>
			<div class="cart__table__txt">
				original {{ kpn.product.deviceOrigPrice | priceFormatter }}
			</div>
		</div>
	</section>
</section>
