.product {
	display: flex;

	&__left-container {
		flex: 2;
		margin-right: 2%;
	}

	&__header {
		background: #f00;
		font-size: 40px;
		margin-bottom: 5%;
	}

	&__table {
		background: #0f0;
	}

	&__sidebar {
		background: #00f;
		flex: 1;
	}
}
